.vscode/
.DS_Store

*.pyc
__pycache__/

.pytest_cache/
htmlcov/

dist/
build/
instance/
data/
*.egg-info/

*.pickle
*.npy

aws_web_app/venv/
*.zip

*_trajectories/
*_data/
output/
result*/
experts/
outputs/
profile*
wandb/
venv/
multirun/


*.log
*.csv
*.orig
*.mp4
*.pt
.ipynb_checkpoints/

aws_data*
data_old/
logs/
buffers/
weights/
node_modules/
package-lock.json
.eslintrc.json
package.json

*.png
!aicoach/domains/tool_handover/images/*.png
!aicoach/domains/tooldelivery/images/*.png
!web_experiment/instruction/static/*.png
!web_experiment/instruction/static/*.mp4
!web_experiment/static/tooldelivery_images/*.png
!web_experiment/static/toolhandover_images/*.png