eventlet==0.30.2
Flask==2.0.2
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
SQLAlchemy==1.4.22
Werkzeug==2.2.2
Team_Markov_Model @ git+https://github.com/unhelkarlab/Team_Markov_Model.git@main
IDIL @ git+https://github.com/unhelkarlab/IDIL.git@main
BTIL @ git+https://github.com/unhelkarlab/BTIL.git@main