<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Classification Query</title>
    <style>
        body {
            text-align: center;
            font-family: Helvetica, sans-serif;
            margin-top: 20px;
        }
        mark {
            background-color: gainsboro;
            color: black;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-top: 20px;
        }
        .grid img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
        .pagination {
            margin-top: 20px;
        }
        .pagination button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            margin: 5px;
        }
        .pagination button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
        #loadingMessage {
            font-size: 20px;
            color: red;
        }
        # {
            align-content: left;
        }
    </style>
</head>
<body>
    <h1>Text Classification Query</h1>
    <p id="loadingMessage">Loading data, please wait...</p>

    <!-- 查詢介面，預設隱藏，等數據載入完成後顯示 -->
    <div id="queryInterface" style="position: absolute; top: 50px; left: 20px; width: 300px; ">
        <h3>Find by AI Class</h3>
        <div style="align-items: left;">
            <input type="radio" id="AddToPlaylist" name="classValue" value="0" ><label for="AddToPlaylist" >AddToPlaylist</label><br>
            <input type="radio" id="BookRestaurant" name="classValue" value="1" style="padding: 10px; font-size: 16px;"><label for="BookRestaurant">BookRestaurant</label><br>
            <input type="radio" id="GetWeather" name="classValue" value="2" style="padding: 10px; font-size: 16px;"><label for="GetWeather">GetWeather</label><br>
            <input type="radio" id="PlayMusic" name="classValue" value="3"><label for="PlayMusic" >PlayMusic</label><br>
            <input type="radio" id="RateBook" name="classValue" value="4" style="padding: 8px; font-size: 16px;"><label for="RateBook">RateBook</label><br>
            <input type="radio" id="SearchCreativeWork" name="classValue" value="5" style="padding: 8px; font-size: 16px;"><label for="SearchCreativeWork">SearchCreativeWork</label><br>
            <input type="radio" id="SearchScreeningEvent" name="classValue" value="6" style="padding: 8px; font-size: 16px;"><label for="SearchScreeningEvent">SearchScreeningEvent</label><br>
            <button onclick="fetchClassData(1)" style="margin: 8px; padding: 8px 16px; font-size: 16px; align-self: center;">Search</button>
            <!-- OLD <input type="number" id="classValue" placeholder="Enter a class value (0 to 6)" style="width:200px; padding: 8px; font-size: 16px;"> -->
        </div>
    </div>
    <!-- 右側的相似圖片搜尋介面 -->
    <div id="searchInterface" style="position: absolute; top: 320px; left: 20px; width: 300px;">
        <h3>Find Similar Texts</h3>
        <input type="number" id="textIndexValue" placeholder="Enter text index" style="width: 200px; padding: 8px; font-size: 16px;">
        <button onclick="fetchSimilarText()" style="margin: 8px;padding: 8px 16px; font-size: 16px;">Search</button>
    </div>
    <div id="searchInterface" style="position: absolute; top: 480px; left: 20px; width: 300px;">
        <h3>Find by Keyword</h3>
        <input type="text" id="keywordValue" placeholder="Enter keyword" style="width: 200px; padding: 8px; font-size: 16px;">
        <button onclick="fetchTextKeyword()" style="margin: 8px; padding: 8px 16px; font-size: 16px;">Search</button>
    </div>

    <div id="feedbackInterface" style="position: absolute; top: 630px; left: 20px; width: 300px;">
        <h2>Feedback</h2>
        <label for="feedbackValue" style="margin: 5px; padding: 5px;;">Note observations about errors:</label>
        <textarea id="feedbackValue" placeholder="Enter feedback" style="width: 200px; padding: 8px; font-size: 16px;"></textarea>
        <button onclick="sendFeedback()" style="margin: 8px; padding: 8px 16px; font-size: 16px;">Submit</button>
        <div id="feedbackResult" style="margin-top: 2px; padding: 8px 16px; font-size: 16px;"></div>
    </div>

    <div class="container">
        <div id="result" style="margin-top: 2px; position:absolute; left: 320px; right: 20px;"></div>
    </div>

    

    <script>
        let currentPage = 1;  // 記錄當前頁數
        const perPage = 5;   // 每頁顯示筆數

        // 監測數據是否載入完成
        function checkLoadingStatus() {
            fetch('/query/check_status')
                .then(response => response.json())
                .then(data => {
                    if (data.prediction_done) {
                        document.getElementById("loadingMessage").style.display = "none";  // 隱藏 "資料載入中"
                        document.getElementById("queryInterface").style.display = "block"; // 顯示查詢介面
                    } else {
                        setTimeout(checkLoadingStatus, 2000); // 每 2 秒檢查一次
                    }
                })
                .catch(error => {
                    document.getElementById("loadingMessage").innerText = `❌ 錯誤：${error.message}`;
                });
        }

        function fetchClassData(page = 1) {
            // let classValueForm = document.forms.classValueForm;
            let classValues = document.getElementsByName("classValue");
            for (i = 0; i < classValues.length; i++) {
                if (classValues[i].checked) {
                    classValue = parseInt(classValues[i].value, 10);
                    break;
                }
            };
            console.log(classValue);
            
            // Clear other query fields
            document.getElementById("textIndexValue").value = '';
            document.getElementById("keywordValue").value = '';

            fetch(`/text_query/text_data/query?class_value=${classValue}&page=${page}&per_page=${perPage}`)
                .then(response => response.json())
                .then(data => {
                    let resultContainer = document.getElementById("result");

                    if (data.error) {
                        resultContainer.innerText = `❌ ${data.error}`;
                        console.error(data.error);
                    } else {
                        currentPage = data.current_page;  // 更新當前頁數

                        // 取得所有特徵名稱，確保 index 在最前面
                        let headers = Object.keys(data.results[0]);
                        headerOrder = ["Index", "Text", "Explanation", "Model-assigned Label", "Human-assigned Label"];
                        //console.log(headers);

                        // 產生表格 HTML
                        let tableHTML = "<table border='1' style='border-collapse: collapse; width: 100%; text-align: center;'>";
                        
                        // 表頭
                        tableHTML += "<tr>";
                        headerOrder.forEach(header => tableHTML += `<th style='padding: 8px; background-color: #f2f2f2;'>${header}</th>`);
                        tableHTML += "</tr>";

                        // 插入數據，每筆資料橫排
                        data.results.forEach(row => {
                            tableHTML += "<tr>";
                            if (row["featured"]) {
                                row["Text"] = row["Text"].concat(" [featured]");
                                console.log(row["Text"]);
                            }
                            console.log(row)
                            headerOrder.forEach(header => tableHTML += `<td style='padding: 8px;'>${row[header]}</td>`);
                            
                            tableHTML += "</tr>";
                        });

                        tableHTML += "</table>";

                        // 加入「上一頁 / 下一頁」按鈕
                        tableHTML += `
                            <div style="margin-top: 20px;">
                                <button onclick="changePage(-1)" ${currentPage === 1 ? "disabled" : ""}>⬅️ Previous</button>
                                <span> Page ${data.current_page} /  ${data.total_pages}  </span>
                                <button onclick="changePage(1)" ${currentPage === data.total_pages ? "disabled" : ""}>Next ➡️</button>
                            </div>
                        `;

                        resultContainer.innerHTML = tableHTML; // 插入表格
                    }
                })
                .catch(error => {
                    document.getElementById("result").innerText = `❌ Error: ${error.message}`;
                    console.error(error.message);
                });
        }

        function fetchSimilarText(page = 1) {
            let textIndex = parseInt(document.getElementById("textIndexValue").value, 10);
            if (isNaN(textIndex)) {
                alert("Please enter a valid text index.");
                return;
            }
            
            // Clear other query fields
            // document.getElementById("classValue").value = ''; // doesn't work with radio
            document.getElementById("keywordValue").value = '';

            fetch(`/text_query/text_data/find_similar?index=${textIndex}&page=${page}&per_page=${perPage}`)
                .then(response => response.json())
                .then(data => {
                    let resultContainer = document.getElementById("result");

                    if (data.error) {
                        resultContainer.innerText = `❌ ${data.error}`;
                    } else {
                        currentPage = data.current_page;

                        let headers = Object.keys(data.similar_results[0]);
                        headerOrder = ["Index", "Text", "Explanation", "Model-assigned Label", "Human-assigned Label"];
                        console.log(headers);

                        // 產生表格 HTML
                        let tableHTML = "<table border='1' style='border-collapse: collapse; width: 100%; text-align: center;'>";
                        
                        // 表頭
                        tableHTML += "<tr>";
                        headerOrder.forEach(header => tableHTML += `<th style='padding: 8px; background-color: #f2f2f2;'>${header}</th>`);
                        tableHTML += "</tr>";

                        // 插入數據，每筆資料橫排
                        data.similar_results.forEach(row => {
                            tableHTML += "<tr>";
                            headerOrder.forEach(header => tableHTML += `<td style='padding: 8px;'>${row[header]}</td>`);
                            tableHTML += "</tr>";
                        });

                        tableHTML += "</table>";

                        tableHTML += `
                            <div style="margin-top: 20px;">
                                <button onclick="changePage(-1, 'similarity')" ${currentPage === 1 ? "disabled" : ""}>⬅️ Previous</button>
                                <span> Page ${data.current_page} /  ${data.total_pages}  </span>
                                <button onclick="changePage(1, 'similarity')" ${currentPage === data.total_pages ? "disabled" : ""}>Next ➡️</button>
                            </div>
                        `;

                        resultContainer.innerHTML = tableHTML;
                        
                    }
                })
                .catch(error => {
                    document.getElementById("result").innerText = `❌ Error: ${error.message}`;
                });
        }

        function fetchTextKeyword(page = 1) {
            let keyword = document.getElementById("keywordValue").value;
            
            // Clear other query fields
            // document.getElementById("classValue").value = ''; // doesn't work with radio
            document.getElementById("textIndexValue").value = '';
            
            if (keyword == null || keyword == "") {
                alert("Please enter a valid text.");
                return;
            }

            fetch(`/text_query/text_data/find_keyword?keyword=${keyword}&page=${page}&per_page=${perPage}`)
                .then(response => response.json())
                .then(data => {
                    let resultContainer = document.getElementById("result");

                    currentPage = data.current_page;

                    if (data.error) {
                        resultContainer.innerText = `❌ ${data.error}`;
                    } else {
                        let headers = Object.keys(data.results[0]);
                        headerOrder = ["Index", "Text", "Explanation", "Model-assigned Label", "Human-assigned Label"];
                        //console.log(headers); // debugging

                        // 產生表格 HTML
                        let tableHTML = "<table border='1' style='border-collapse: collapse; width: 100%; text-align: center;'>";
                        
                        // 表頭
                        tableHTML += "<tr>";
                        headerOrder.forEach(header => tableHTML += `<th style='padding: 8px; background-color: #f2f2f2;'>${header}</th>`);
                        tableHTML += "</tr>";

                        // 插入數據，每筆資料橫排
                        data.results.forEach(row => {
                            tableHTML += "<tr>";
                            headerOrder.forEach(header => tableHTML += `<td style='padding: 8px;'>${row[header]}</td>`);
                            tableHTML += "</tr>";
                        });

                        tableHTML += "</table>";

                        tableHTML += `
                            <div style="margin-top: 20px;">
                                <button onclick="changePage(-1, 'keyword')" ${currentPage === 1 ? "disabled" : ""}>⬅️ Previous</button>
                                <span> Page ${data.current_page} /  ${data.total_pages}  </span>
                                <button onclick="changePage(1, 'keyword')" ${currentPage === data.total_pages ? "disabled" : ""}>Next ➡️</button>
                            </div>
                        `;

                        resultContainer.innerHTML = tableHTML;
                        
                    }
                })
                .catch(error => {
                    document.getElementById("result").innerText = `❌ Error: ${error.message}`;
                });
        }
        // 切換頁面
        function changePage(direction, search='class') {
            newPage = currentPage + direction;
            if (search == 'class'){
                fetchClassData(newPage);}
            else if (search == 'keyword') {
                fetchTextKeyword(newPage);
            }
            else if (search == 'similarity') {
                fetchSimilarText(newPage);
            }
        }

        function sendFeedback() {
            let feedback = document.getElementById("feedbackValue").value;
            fetch(`/text_query/feedback`, { 
                method: "POST", 
                body: JSON.stringify({ 
                    feedback: feedback,
                    timestamp: new Date().toString()
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    let resultContainer = document.getElementById("feedbackResult");
                    if (data.error) {
                        resultContainer.innerText = `❌ ${data.error}`;
                    } else {
                        document.getElementById("feedbackValue").value = '';
                        resultContainer.innerText = `✅ Feedback sent successfully!`;
                    }
                })
                .catch(error => {
                    document.getElementById("result").innerText = `❌ Error: ${error.message}`;
                });
        }

        // 啟動時檢查數據載入狀態
        checkLoadingStatus();
    </script>
</body>
</html>
